In [137]:
import pandas as pd
import numpy as np

# School Profile 2010

In [138]:
school2010_df = pd.read_excel("210513_school_profile2010.xlsx", sheet_name=0)

In [139]:
school2010_df.head()

,PK,district,school,district_name,school_name,Grades served,Safe school status,Average Daily Membership,Total,White,...,Hispanic Female,Asian Female,Native American Female,Economically Disadvantaged,Free eligible,Reduced eligible,Free reduced eligible,Free (%),Reduced (%),Free reduced (%)
0,2010,10,2,Anderson County,Anderson County High School,9-12,Safe School,1053,1066.0,1049,...,3,2,2,481,412,69,481,41.4,6.9,48.3
1,2010,10,3,Anderson County,Anderson County Career Technical Center,10-12,Safe School,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,349,373.0,370,...,1,-,-,205,174,31,205,51.3,9.1,60.5
3,2010,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,108,109.0,109,...,-,-,-,87,79,8,87,79.8,8.1,87.9
4,2010,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,571,629.0,591,...,6,2,1,378,326,52,378,60.6,9.7,70.3

In [140]:
school2010_df = school2010_df.rename({'PK' : 'SCHOOL_YEAR'}, axis=1)

In [141]:
school2010_df.head()

,SCHOOL_YEAR,district,school,district_name,school_name,Grades served,Safe school status,Average Daily Membership,Total,White,...,Hispanic Female,Asian Female,Native American Female,Economically Disadvantaged,Free eligible,Reduced eligible,Free reduced eligible,Free (%),Reduced (%),Free reduced (%)
0,2010,10,2,Anderson County,Anderson County High School,9-12,Safe School,1053,1066.0,1049,...,3,2,2,481,412,69,481,41.4,6.9,48.3
1,2010,10,3,Anderson County,Anderson County Career Technical Center,10-12,Safe School,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,349,373.0,370,...,1,-,-,205,174,31,205,51.3,9.1,60.5
3,2010,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,108,109.0,109,...,-,-,-,87,79,8,87,79.8,8.1,87.9
4,2010,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,571,629.0,591,...,6,2,1,378,326,52,378,60.6,9.7,70.3

In [142]:
school2010_df = school2010_df.rename({'district' : 'district', 'school': 'school_id', 'district_name':'district_name', 
                                     'school_name':'school_name', 'Grades served':'grades_served', 'Safe school status':'safe_school',
                                     'Average Daily Membership':'average_daily_membership', 'Total': 'total', 'White' : 'white',
                                     'African American' : 'african_american', 'Hispanic': 'hispanic', 'Asian' : 'asian', 'Native American': 'native_american', 
                                    'Male':'male', 'Female':'female', 'White (%)':'white_pct', 'African American (%)': 'african_american_pct', 
                                      'Hispanic (%)': 'hispanic_pct', 'Asian (%)': 'asian_pct', 'Native American (%)': 'native_american_pct',
                                      'Male (%)':'male_pct', 'Female (%)':'female_pct', 'White Male': 'white_male', 'African American Male':'african_american_male',
                                      'Hispanic Male': 'hispanic_male', 'Asian Male': 'asian_male', 'Native American Male': 'native_american_male',
                                      'White Female': 'white_female', 'African American Female': 'african_american_female', 'Hispanic Female':'hispanic_female', 
                                      'Asian Female': 'asian_female', 'Native American Female': 'native_american_female', 
                                      'Economically Disadvantaged': 'economically_disadvantaged', 'SCHOOL_YEAR':'school_year'}, axis=1)

In [143]:
school2010_df.drop(columns= ['Free (%)', 'Reduced (%)', 'Free reduced (%)', 'Free eligible', 'Reduced eligible', 'Free reduced eligible'], axis = 1, inplace=True)

In [144]:
school2010_df.head()

,school_year,district,school_id,district_name,school_name,grades_served,safe_school,average_daily_membership,total,white,...,african_american_male,hispanic_male,asian_male,native_american_male,white_female,african_american_female,hispanic_female,asian_female,native_american_female,economically_disadvantaged
0,2010,10,2,Anderson County,Anderson County High School,9-12,Safe School,1053,1066.0,1049,...,3,1,6,-,496,-,3,2,2,481
1,2010,10,3,Anderson County,Anderson County Career Technical Center,10-12,Safe School,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,349,373.0,370,...,-,-,-,-,183,2,1,-,-,205
3,2010,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,108,109.0,109,...,-,-,-,-,40,-,-,-,-,87
4,2010,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,571,629.0,591,...,13,4,-,2,285,10,6,2,1,378

# School Profile 2011

In [145]:
school2011_df = pd.read_excel("210514__school_profile2011.xlsx", sheet_name=0)
school2011_df = school2011_df[school2011_df.columns.drop(list(school2011_df.filter(regex='Error')))]

In [146]:
school2011_df.head()

,year,district,school,district_name,school_name,Grades served,Safe school status,Average Daily Membership,Total,White,...,Hispanic Female,Asian Female,Native American Female,Economically Disadvantaged,Free eligible,Reduced eligible,Free reduced eligible,Free (%),Reduced (%),Free reduced (%)
0,2011,10,2,Anderson County,Anderson County High School,9-12,Safe School,1036,1076,1067,...,1,2,-,493,421,72,493,44.1,7.5,51.7
1,2011,10,3,Anderson County,Anderson County Career Technical Center,9-12,Safe School,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,2011,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,345,355,352,...,1,-,-,211,182,29,211,56.2,9,65.1
3,2011,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,102,97,94,...,-,-,-,86,83,3,86,89.2,3.2,92.5
4,2011,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,569,585,551,...,3,2,-,411,356,55,411,65.6,10.1,75.7

In [147]:
school2011_df = school2011_df.rename({'district' : 'district', 'school': 'school_id', 'district_name':'district_name', 
                                     'school_name':'school_name', 'Grades served':'grades_served', 'Safe school status':'safe_school',
                                     'Average Daily Membership':'average_daily_membership', 'Total': 'total', 'White' : 'white',
                                     'African American' : 'african_american', 'Hispanic': 'hispanic', 'Asian' : 'asian', 'Native American': 'native_american', 
                                    'Male':'male', 'Female':'female', 'White (%)':'white_pct', 'African American (%)': 'african_american_pct', 
                                      'Hispanic (%)': 'hispanic_pct', 'Asian (%)': 'asian_pct', 'Native American (%)': 'native_american_pct',
                                      'Male (%)':'male_pct', 'Female (%)':'female_pct', 'White Male': 'white_male', 'African American Male':'african_american_male',
                                      'Hispanic Male': 'hispanic_male', 'Asian Male': 'asian_male', 'Native American Male': 'native_american_male',
                                      'White Female': 'white_female', 'African American Female': 'african_american_female', 'Hispanic Female':'hispanic_female', 
                                      'Asian Female': 'asian_female', 'Native American Female': 'native_american_female', 
                                      'Economically Disadvantaged': 'economically_disadvantaged', 'year':'school_year'}, axis=1)

In [148]:
school2011_df.drop(columns= ['Free (%)', 'Reduced (%)', 'Free reduced (%)', 'Free eligible', 'Reduced eligible', 'Free reduced eligible'], axis = 1, inplace=True)

In [149]:
school2011_df.head()

,school_year,district,school_id,district_name,school_name,grades_served,safe_school,average_daily_membership,total,white,...,african_american_male,hispanic_male,asian_male,native_american_male,white_female,african_american_female,hispanic_female,asian_female,native_american_female,economically_disadvantaged
0,2011,10,2,Anderson County,Anderson County High School,9-12,Safe School,1036,1076,1067,...,2,-,3,1,496,-,1,2,-,493
1,2011,10,3,Anderson County,Anderson County Career Technical Center,9-12,Safe School,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,2011,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,345,355,352,...,-,1,-,-,176,1,1,-,-,211
3,2011,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,102,97,94,...,2,1,-,-,38,-,-,-,-,86
4,2011,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,569,585,551,...,13,2,1,-,264,13,3,2,-,411

In [150]:
combined_profile_10_14 = school2010_df.append(school2011_df)

In [151]:
combined_profile_10_14.head()

,school_year,district,school_id,district_name,school_name,grades_served,safe_school,average_daily_membership,total,white,...,african_american_male,hispanic_male,asian_male,native_american_male,white_female,african_american_female,hispanic_female,asian_female,native_american_female,economically_disadvantaged
0,2010,10,2,Anderson County,Anderson County High School,9-12,Safe School,1053,1066.0,1049,...,3,1,6,-,496,-,3,2,2,481
1,2010,10,3,Anderson County,Anderson County Career Technical Center,10-12,Safe School,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,349,373.0,370,...,-,-,-,-,183,2,1,-,-,205
3,2010,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,108,109.0,109,...,-,-,-,-,40,-,-,-,-,87
4,2010,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,571,629.0,591,...,13,4,-,2,285,10,6,2,1,378

In [152]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

# School Profile 2012

In [153]:
school2012_df = pd.read_excel("210514_school_profile2012.xlsx", sheet_name=0)

In [154]:
school2012_df = school2012_df.rename({'district' : 'district', 'school': 'school_id', 'district_name':'district_name', 
                                     'school_name':'school_name', 'Grades served':'grades_served', 'Safe school status':'safe_school',
                                     'Average Daily Membership':'average_daily_membership', 'Total': 'total', 'White' : 'white',
                                     'African American' : 'african_american', 'Hispanic': 'hispanic', 'Asian' : 'asian', 'Native American': 'native_american', 
                                    'Male':'male', 'Female':'female', 'White (%)':'white_pct', 'African American (%)': 'african_american_pct', 
                                      'Hispanic (%)': 'hispanic_pct', 'Asian (%)': 'asian_pct', 'Native American (%)': 'native_american_pct',
                                      'Male (%)':'male_pct', 'Female (%)':'female_pct', 'White Male': 'white_male', 'African American Male':'african_american_male',
                                      'Hispanic Male': 'hispanic_male', 'Asian Male': 'asian_male', 'Native American Male': 'native_american_male',
                                      'White Female': 'white_female', 'African American Female': 'african_american_female', 'Hispanic Female':'hispanic_female', 
                                      'Asian Female': 'asian_female', 'Native American Female': 'native_american_female', 
                                      'Economically Disadvantaged': 'economically_disadvantaged', 'year':'school_year'}, axis=1)

In [155]:
school2012_df.drop(columns= ['Free (%)', 'Reduced (%)', 'Free reduced (%)', 'Free eligible', 'Reduced eligible', 'Free reduced eligible'], axis = 1, inplace=True)

In [156]:
school2012_df.head()

,school_year,district,school_id,district_name,school_name,grades_served,safe_school,average_daily_membership,total,white,...,african_american_male,hispanic_male,asian_male,native_american_male,white_female,african_american_female,hispanic_female,asian_female,native_american_female,economically_disadvantaged
0,2012,10,2,Anderson County,Anderson County High School,9-12,Safe School,991,1017,1009,...,4,-,2,-,477,-,1,1,-,471
1,2012,10,3,Anderson County,Anderson County Career Technical Center,9-12,Safe School,-,6,6,...,-,-,-,-,3,-,-,-,-,-
2,2012,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,328,354,352,...,-,1,-,-,169,-,1,-,-,203
3,2012,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,117,117,117,...,-,-,-,-,48,-,-,-,-,102
4,2012,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,596,637,603,...,15,7,-,-,296,9,3,-,-,419

In [157]:
combined_profile_10_14 = combined_profile_10_14.append(school2012_df)

In [158]:
combined_profile_10_14.head()

,school_year,district,school_id,district_name,school_name,grades_served,safe_school,average_daily_membership,total,white,...,african_american_male,hispanic_male,asian_male,native_american_male,white_female,african_american_female,hispanic_female,asian_female,native_american_female,economically_disadvantaged
0,2010,10,2,Anderson County,Anderson County High School,9-12,Safe School,1053,1066.0,1049,...,3,1,6,-,496,-,3,2,2,481
1,2010,10,3,Anderson County,Anderson County Career Technical Center,10-12,Safe School,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,10,5,Anderson County,Andersonville Elementary,PK-5,Safe School,349,373.0,370,...,-,-,-,-,183,2,1,-,-,205
3,2010,10,10,Anderson County,Briceville Elementary,PK-5,Safe School,108,109.0,109,...,-,-,-,-,40,-,-,-,-,87
4,2010,10,15,Anderson County,Claxton Elementary,PK-5,Safe School,571,629.0,591,...,13,4,-,2,285,10,6,2,1,378

# School Profile 2013

In [159]:
school2013_df = pd.read_excel("210514_school_profile2013.xlsx", sheet_name=0)

In [160]:
school2013_df = school2013_df.rename({'DISTRICT' : 'district', 'SCHOOL NO': 'school_id', 'DISTRICT NAME':'district_name', 
                                     'SCHOOL NAME':'school_name', 'Grades served':'grades_served', 'SAFE SCHOOL':'safe_school',
                                     'Average Daily Membership':'average_daily_membership', 'Total': 'total', 'White' : 'white',
                                     'African American' : 'african_american', 'Hispanic': 'hispanic', 'Asian' : 'asian', 'Native American': 'native_american', 
                                    'Male':'male', 'Female':'female', 'White PCT':'white_pct', 'African American PCT': 'african_american_pct', 
                                      'Hispanic PCT': 'hispanic_pct', 'Asian PCT': 'asian_pct', 'Native American PCT': 'native_american_pct',
                                      'Male PCT':'male_pct', 'Female PCT':'female_pct', 'White Male': 'white_male', 'African American Male':'african_american_male',
                                      'Hispanic Male': 'hispanic_male', 'Asian Male': 'asian_male', 'Native American Male': 'native_american_male',
                                      'White Female': 'white_female', 'African American Female': 'african_american_female', 'Hispanic Female':'hispanic_female', 
                                      'Asian Female': 'asian_female', 'Native American Female': 'native_american_female', 
                                      'Economically Disadvantaged': 'economically_disadvantaged', 'YEAR':'school_year'}, axis=1)

In [161]:
school2013_df.drop(columns= ['Number Exempt from Reading Assessment', 'Free reduced PCT'], axis = 1, inplace=True)

In [162]:
school2013_df = school2013_df.rename({'Free reduced eligible' : 'economically_disadvantaged'}, axis=1)

In [163]:
school2013_df.head()

,school_year,district,district_name,school_id,school_name,grades_served,safe_school,average_daily_membership,total,white,...,Limited English Proficient,Students with Disabilities,Students with Disabilities PCT,Free eligible,Reduced eligible,economically_disadvantaged,Free PCT,Reduced PCT,Title I,Title I PCT
0,2013,10,Anderson County,2,Anderson County High School,9-12,Safe School,1004.0,1030.0,1014.0,...,NaN,142.0,13.786408,414.0,86.0,500.0,40.194175,8.349515,NaN,NaN
1,2013,10,Anderson County,3,Anderson County Career Technical Center,9-12,Safe School,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,10,Anderson County,5,Andersonville Elementary,Pre-Kindergarten-5,Safe School,302.0,335.0,328.0,...,NaN,71.0,21.194030,159.0,34.0,193.0,47.747748,10.210210,302.0,90.149254
3,2013,10,Anderson County,10,Briceville Elementary,Pre-Kindergarten-5,Safe School,114.0,129.0,127.0,...,NaN,28.0,21.705426,100.0,13.0,113.0,77.519380,10.077519,114.0,88.372093
4,2013,10,Anderson County,15,Claxton Elementary,Pre-Kindergarten-5,Safe School,557.0,619.0,557.0,...,NaN,116.0,18.739903,375.0,64.0,439.0,60.581583,10.339257,557.0,89.983845

In [164]:
school2013_df.drop(columns= [ 'Free eligible', 'Reduced eligible', 'Free PCT', 'Reduced PCT', 'Title I','Title I PCT'], axis = 1, inplace=True)

In [165]:
school2013_df = school2013_df.rename({'Limited English Proficient PCT' : 'limited_english_proficient_pct', 'Limited English Proficient': 'limited_english_proficient', 'Students with Disabilities': 'students_with_disabilities', 'Students with Disabilities PCT': 'students_with_disabilities_pct'}, axis=1)

In [166]:
school2013_df.head()

,school_year,district,district_name,school_id,school_name,grades_served,safe_school,average_daily_membership,total,white,...,white_female,african_american_female,hispanic_female,asian_female,native_american_female,limited_english_proficient_pct,limited_english_proficient,students_with_disabilities,students_with_disabilities_pct,economically_disadvantaged
0,2013,10,Anderson County,2,Anderson County High School,9-12,Safe School,1004.0,1030.0,1014.0,...,479.0,NaN,NaN,NaN,NaN,NaN,NaN,142.0,13.786408,500.0
1,2013,10,Anderson County,3,Anderson County Career Technical Center,9-12,Safe School,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,10,Anderson County,5,Andersonville Elementary,Pre-Kindergarten-5,Safe School,302.0,335.0,328.0,...,153.0,NaN,NaN,NaN,NaN,NaN,NaN,71.0,21.194030,193.0
3,2013,10,Anderson County,10,Briceville Elementary,Pre-Kindergarten-5,Safe School,114.0,129.0,127.0,...,50.0,NaN,NaN,NaN,NaN,NaN,NaN,28.0,21.705426,113.0
4,2013,10,Anderson County,15,Claxton Elementary,Pre-Kindergarten-5,Safe School,557.0,619.0,557.0,...,271.0,11.0,NaN,NaN,NaN,NaN,NaN,116.0,18.739903,439.0

In [167]:
combined_profile_10_14 = combined_profile_10_14.append(school2013_df)

In [168]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

# School Profile 2014

In [169]:
school2014_df = pd.read_excel("210514_school_profile2014.xlsx", sheet_name=0)

In [170]:
school2014_df = school2014_df.rename({'district' : 'district', 'SCHOOL_ID': 'school_id', 'district_name':'district_name', 
                                     'SCHOOL NAME':'school_name', 'Grades_served':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'Average_Daily_Membership':'average_daily_membership', 'Total': 'total', 'White' : 'white',
                                     'African_American' : 'african_american', 'Hispanic': 'hispanic', 'Asian' : 'asian', 'Native_American': 'native_american', 
                                    'Male':'male', 'Female':'female', 'White_PCT':'white_pct', 'African_American_PCT': 'african_american_pct', 
                                      'Hispanic_PCT': 'hispanic_pct', 'Asian_PCT': 'asian_pct', 'Native_American_PCT': 'native_american_pct',
                                      'Male_PCT':'male_pct', 'Female_PCT':'female_pct', 'White_Male': 'white_male', 'African_American_Male':'african_american_male',
                                      'Hispanic_Male': 'hispanic_male', 'Asian_Male': 'asian_male', 'Native_American_Male': 'native_american_male',
                                      'White_Female': 'white_female', 'African_American_Female': 'african_american_female', 'Hispanic_Female':'hispanic_female', 
                                      'Asian_Female': 'asian_female', 'Native_American_Female': 'native_american_female', 
                                      'Economically Disadvantaged': 'economically_disadvantaged', 'year':'school_year', 
                                      'Limited_English_Proficient_PCT' : 'limited_english_proficient_pct', 'Limited_English_Proficient': 'limited_english_proficient', 
                                      'Students_with_Disabilities': 'students_with_disabilities', 'Students_with_Disabilities_PCT': 'students_with_disabilities_pct'}, axis=1)

In [171]:
school2014_df.drop(columns= ['Free_reduced_PCT', 'Free_eligible', 'Reduced_eligible', 'Free_PCT', 'Reduced_PCT'], axis = 1, inplace=True)

In [172]:
school2014_df = school2014_df.rename({'Free_reduced_eligible' : 'economically_disadvantaged', 'SCHOOL_NAME':'school_name'}, axis=1)

In [173]:
school2014_df.head()

,school_year,district,district_name,school_name,school_id,grades_served,safe_school,average_daily_membership,total,white,...,white_female,african_american_female,hispanic_female,asian_female,native_american_female,limited_english_proficient,limited_english_proficient_pct,students_with_disabilities,students_with_disabilities_pct,economically_disadvantaged
0,2014,0,State of Tennessee,All Schools,0,--,Safe School,NaN,993841.0,652082.0,...,315390.0,118275.0,37435.0,NaN,1604.0,44508.0,4.478382,141154.0,14.202876,579236.0
1,2014,10,Anderson County,All Schools,0,PK-12,Safe School,NaN,6685.0,6373.0,...,3088.0,79.0,31.0,NaN,15.0,21.0,0.314136,1234.0,18.459237,3968.0
2,2014,10,Anderson County,Anderson County High School,2,9th-12th,Safe School,1038.0,1067.0,1048.0,...,500.0,NaN,NaN,NaN,3.0,NaN,NaN,155.0,14.526710,504.0
3,2014,10,Anderson County,Anderson County Career Technical Center,3,9th-12th,Safe School,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,10,Anderson County,Andersonville Elementary,5,Pre-Kindergarten-5,Safe School,301.0,343.0,331.0,...,166.0,4.0,2.0,NaN,1.0,NaN,1.166181,78.0,22.740525,208.0

In [174]:
combined_profile_10_14 = combined_profile_10_14.append(school2014_df)

In [175]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

# School Profile 2015

In [176]:
school2015_df = pd.read_excel("210514_school_profile2015.xlsx", sheet_name=0)

In [177]:
school2015_df = school2015_df.rename({'DISTRICT' : 'district', 'SCHOOL_ID': 'school_id', 'DISTRICT_NAME':'district_name', 
                                     'SCHOOL_NAME':'school_name', 'GRADES_SERVED':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'AVERAGE_DAILY_MEMBERSHIP':'average_daily_membership', 'TOTAL': 'total', 'WHITE' : 'white',
                                     'AFRICAN_AMERICAN' : 'african_american', 'HISPANIC': 'hispanic', 'ASIAN' : 'asian', 'NATIVE_AMERICAN': 'native_american', 
                                    'MALE':'male', 'FEMALE':'female', 'WHITE_PCT':'white_pct', 'AFRICAN_AMERICAN_PCT': 'african_american_pct', 
                                      'HISPANIC_PCT': 'hispanic_pct', 'ASIAN_PCT': 'asian_pct', 'NATIVE_AMERICAN_PCT': 'native_american_pct',
                                      'MALE_PCT':'male_pct', 'FEMALE_PCT':'female_pct', 'WHITE_MALE': 'white_male', 'AFRICAN_AMERICAN_MALE':'african_american_male',
                                      'HISPANIC_MALE': 'hispanic_male', 'ASIAN_MALE': 'asian_male', 'NATIVE_AMERICAN_MALE': 'native_american_male',
                                      'WHITE_FEMALE': 'white_female', 'AFRICAN_AMERICAN_FEMALE': 'african_american_female', 'HISPANIC_FEMALE':'hispanic_female', 
                                      'ASIAN_FEMALE': 'asian_female', 'NATIVE_AMERICAN_FEMALE': 'native_american_female', 
                                      'ECONOMICALLY_DISADVANTAGED': 'economically_disadvantaged', 'ECONOMICALLY_DISADVANTAGED_PCT': 'economically_disadvantaged_pct','YEAR':'school_year', 
                                      'LIMITED_ENGLISH_PROFICIENT_PCT' : 'limited_english_proficient_pct', 'LIMITED_ENGLISH_PROFICIENT': 'limited_english_proficient', 
                                      'STUDENTS_WITH_DISABILITIES': 'students_with_disabilities', 'STUDENTS_WITH_DISABILITIES_PCT': 'students_with_disabilities_pct'}, axis=1)

In [178]:
school2015_df.drop(columns= ['HAWAIIAN_PACISLD', 'HAWAIIAN_PACISLD_PCT', 'HAWAIIAN_PACISLD_MALE', 'HAWAIIAN_PACISLD_FEMALE', 'NUMBER_EXEMPT_FROM_READING_ASSESSMENT', 'economically_disadvantaged_pct'], axis = 1, inplace=True)

In [179]:
school2015_df.head()

,school_year,district,district_name,school_name,school_id,grades_served,safe_school,average_daily_membership,total,white,...,white_female,african_american_female,hispanic_female,asian_female,native_american_female,limited_english_proficient_pct,limited_english_proficient,students_with_disabilities,students_with_disabilities_pct,economically_disadvantaged
0,2015,0,State of Tennessee,All Schools,0,--,SAFE SCHOOL,NaN,995892.0,645857.0,...,312613.0,118566.0,40751.0,10237.0,1589.0,4.592767,45739.0,139232.0,13.980632,572461.0
1,2015,10,Anderson County,All Schools,0,PK-12,SAFE SCHOOL,NaN,6651.0,6314.0,...,3040.0,87.0,33.0,17.0,17.0,0.225530,15.0,1199.0,18.027364,3890.0
2,2015,10,Anderson County,Anderson County High School,2,Grades 9-12,SAFE SCHOOL,1040.0,1058.0,1039.0,...,514.0,2.0,NaN,2.0,3.0,NaN,NaN,137.0,12.94896,465.0
3,2015,10,Anderson County,Anderson County Career Technical Center,3,Grades 9-12,SAFE SCHOOL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,10,Anderson County,Andersonville Elementary,5,Pre-Kindergarten-5,SAFE SCHOOL,278.0,317.0,301.0,...,152.0,4.0,2.0,2.0,NaN,0.946372,3.0,67.0,21.135647,182.0

In [180]:
combined_profile_10_14 = combined_profile_10_14.append(school2015_df)

In [181]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

# School Profile 2016

In [182]:
school2016_df = pd.read_excel("210514_school_profile2016.xlsx", sheet_name=0)

In [183]:
school2016_df = school2016_df.rename({'DISTRICT' : 'district', 'SCHOOL_ID': 'school_id', 'DISTRICT_NAME':'district_name', 
                                     'SCHOOL_NAME':'school_name', 'GRADES_SERVED':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'AVERAGE_DAILY_MEMBERSHIP':'average_daily_membership', 'TOTAL': 'total', 'WHITE' : 'white',
                                     'AFRICAN_AMERICAN' : 'african_american', 'HISPANIC': 'hispanic', 'ASIAN' : 'asian', 'NATIVE_AMERICAN': 'native_american', 
                                    'MALE':'male', 'FEMALE':'female', 'WHITE_PCT':'white_pct', 'AFRICAN_AMERICAN_PCT': 'african_american_pct', 
                                      'HISPANIC_PCT': 'hispanic_pct', 'ASIAN_PCT': 'asian_pct', 'NATIVE_AMERICAN_PCT': 'native_american_pct',
                                      'MALE_PCT':'male_pct', 'FEMALE_PCT':'female_pct', 'WHITE_MALE': 'white_male', 'AFRICAN_AMERICAN_MALE':'african_american_male',
                                      'HISPANIC_MALE': 'hispanic_male', 'ASIAN_MALE': 'asian_male', 'NATIVE_AMERICAN_MALE': 'native_american_male',
                                      'WHITE_FEMALE': 'white_female', 'AFRICAN_AMERICAN_FEMALE': 'african_american_female', 'HISPANIC_FEMALE':'hispanic_female', 
                                      'ASIAN_FEMALE': 'asian_female', 'NATIVE_AMERICAN_FEMALE': 'native_american_female', 
                                      'ECONOMICALLY_DISADVANTAGED': 'economically_disadvantaged', 'ECONOMICALLY_DISADVANTAGED_PCT': 'economically_disadvantaged_pct','YEAR':'school_year', 
                                      'LIMITED_ENGLISH_PROFICIENT_PCT' : 'limited_english_proficient_pct', 'LIMITED_ENGLISH_PROFICIENT': 'limited_english_proficient', 
                                      'STUDENTS_WITH_DISABILITIES': 'students_with_disabilities', 'STUDENTS_WITH_DISABILITIES_PCT': 'students_with_disabilities_pct'}, axis=1)

In [184]:
school2016_df.drop(columns= ['HAWAIIAN_PACISLD', 'HAWAIIAN_PACISLD_PCT', 'HAWAIIAN_PACISLD_MALE', 'HAWAIIAN_PACISLD_FEMALE', 'NUMBER_EXEMPT_FROM_READING_ASSESSMENT', 'economically_disadvantaged_pct'], axis = 1, inplace=True)

In [185]:
school2016_df.head()

,school_year,district,district_name,school_name,school_id,grades_served,safe_school,average_daily_membership,total,white,...,white_female,african_american_female,hispanic_female,asian_female,native_american_female,limited_english_proficient_pct,limited_english_proficient,students_with_disabilities,students_with_disabilities_pct,economically_disadvantaged
0,2016,0,State of Tennessee,All Schools,0,-----,SAFE SCHOOL,,997893,640523,...,310034,118981,43666,10757,1626,5,49649,139525,14,340434
1,2016,10,Anderson County,Briceville Elementary,10,PreK-5,SAFE SCHOOL,104,119,117,...,58,,,,,,,35,29.4,6
2,2016,10,Anderson County,Clinton Middle School,20,Grades 6-8,SAFE SCHOOL,625,634,592,...,272,12,2,4,1,0.8,5,110,17.4,42
3,2016,10,Anderson County,Lake City Elementary,50,PreK-5,SAFE SCHOOL,434,481,457,...,224,2,4,1,2,0.4,2,118,24.5,45
4,2016,10,Anderson County,Norris Elementary,70,PreK-5,SAFE SCHOOL,255,267,257,...,114,2,2,,1,0.4,1,35,13.1,16

In [186]:
combined_profile_10_14 = combined_profile_10_14.append(school2016_df)

# School Profile 2017

In [187]:
school2017_df = pd.read_excel("210514_school_profile2017.xlsx", sheet_name=0)

In [188]:
school2017_df = school2017_df.rename({'DISTRICT_ID' : 'district', 'SCHOOL_ID': 'school_id', 'DISTRICT_NAME':'district_name', 
                                     'SCHOOL_NAME':'school_name', 'GRADES_SERVED':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'AVERAGE_DAILY_MEMBERSHIP':'average_daily_membership', 'TOTAL': 'total', 'WHITE' : 'white',
                                     'AFRICAN_AMERICAN' : 'african_american', 'HISPANIC': 'hispanic', 'ASIAN' : 'asian', 'NATIVE_AMERICAN': 'native_american', 
                                    'MALE':'male', 'FEMALE':'female', 'WHITE_PCT':'white_pct', 'AFRICAN_AMERICAN_PCT': 'african_american_pct', 
                                      'HISPANIC_PCT': 'hispanic_pct', 'ASIAN_PCT': 'asian_pct', 'NATIVE_AMERICAN_PCT': 'native_american_pct',
                                      'MALE_PCT':'male_pct', 'FEMALE_PCT':'female_pct', 'WHITE_MALE': 'white_male', 'AFRICAN_AMERICAN_MALE':'african_american_male',
                                      'HISPANIC_MALE': 'hispanic_male', 'ASIAN_MALE': 'asian_male', 'NATIVE_AMERICAN_MALE': 'native_american_male',
                                      'WHITE_FEMALE': 'white_female', 'AFRICAN_AMERICAN_FEMALE': 'african_american_female', 'HISPANIC_FEMALE':'hispanic_female', 
                                      'ASIAN_FEMALE': 'asian_female', 'NATIVE_AMERICAN_FEMALE': 'native_american_female', 
                                      'ECONOMICALLY_DISADVANTAGED': 'economically_disadvantaged', 'ECONOMICALLY_DISADVANTAGED_PCT': 'economically_disadvantaged_pct','SCHOOL_YEAR':'school_year', 
                                      'LIMITED_ENGLISH_PROFICIENT_PCT' : 'limited_english_proficient_pct', 'LIMITED_ENGLISH_PROFICIENT': 'limited_english_proficient', 
                                      'STUDENTS_WITH_DISABILITIES': 'students_with_disabilities', 'STUDENTS_WITH_DISABILITIES_PCT': 'students_with_disabilities_pct'}, axis=1)

In [189]:
school2017_df.drop(columns= ['HAWAIIAN_PACISLD', 'HAWAIIAN_PACISLD_PCT', 'HAWAIIAN_PACISLD_MALE', 'HAWAIIAN_PACISLD_FEMALE', 'NUMBER_EXEMPT_FROM_READING_ASSESSMENT', 'economically_disadvantaged_pct'], axis = 1, inplace=True)

In [190]:
school2017_df['school_year'].replace('2016-17','2017', inplace = True)

In [191]:
school2017_df.head()

,school_year,district_name,district,school_name,school_id,grades_served,safe_school,average_daily_membership,total,white,...,white_female,african_american_female,hispanic_female,asian_female,native_american_female,limited_english_proficient_pct,limited_english_proficient,students_with_disabilities,students_with_disabilities_pct,economically_disadvantaged
0,2017,State of Tennessee,0,All Schools,0,--,SAFE SCHOOL,NaN,999701.0,634218.0,...,306749.0,118695.0,47019.0,11179.0,1712.0,5.292783,52912.0,139234.0,13.927564,337191.0
1,2017,Anderson County,10,All Schools,0,PreK-12,SAFE SCHOOL,NaN,6610.0,6198.0,...,2968.0,98.0,60.0,20.0,16.0,0.272315,18.0,1244.0,18.819970,2290.0
2,2017,Anderson County,10,Anderson County High School,2,9-12,SAFE SCHOOL,1021.0,1053.0,1028.0,...,506.0,3.0,6.0,2.0,NaN,NaN,NaN,129.0,12.250712,253.0
3,2017,Anderson County,10,Anderson County Career Technical Center,3,9-12,SAFE SCHOOL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,Anderson County,10,Andersonville Elementary,5,PreK-5,SAFE SCHOOL,301.0,343.0,327.0,...,148.0,3.0,3.0,NaN,1.0,0.291545,1.0,69.0,20.116618,100.0

In [192]:
combined_profile_10_14 = combined_profile_10_14.append(school2017_df)

In [193]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

# School Profile 2018

In [194]:
school2018_df = pd.read_excel("210514_school_profile_2018.xlsx", sheet_name=0)

In [195]:
school2018_df = school2018_df.rename({'DISTRICT_ID' : 'district', 'SCHOOL_ID': 'school_id', 'DISTRICT_NAME':'district_name', 
                                     'SCHOOL_NAME':'school_name', 'GRADES_SERVED':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'AVERAGE_DAILY_MEMBERSHIP':'average_daily_membership', 'TOTAL': 'total', 'WHITE' : 'white',
                                     'AFRICAN_AMERICAN' : 'african_american', 'HISPANIC': 'hispanic', 'ASIAN' : 'asian', 'NATIVE_AMERICAN': 'native_american', 
                                    'MALE':'male', 'FEMALE':'female', 'WHITE_PCT':'white_pct', 'AFRICAN_AMERICAN_PCT': 'african_american_pct', 
                                      'HISPANIC_PCT': 'hispanic_pct', 'ASIAN_PCT': 'asian_pct', 'NATIVE_AMERICAN_PCT': 'native_american_pct',
                                      'MALE_PCT':'male_pct', 'FEMALE_PCT':'female_pct', 'WHITE_MALE': 'white_male', 'AFRICAN_AMERICAN_MALE':'african_american_male',
                                      'HISPANIC_MALE': 'hispanic_male', 'ASIAN_MALE': 'asian_male', 'NATIVE_AMERICAN_MALE': 'native_american_male',
                                      'WHITE_FEMALE': 'white_female', 'AFRICAN_AMERICAN_FEMALE': 'african_american_female', 'HISPANIC_FEMALE':'hispanic_female', 
                                      'ASIAN_FEMALE': 'asian_female', 'NATIVE_AMERICAN_FEMALE': 'native_american_female', 
                                      'ECONOMICALLY_DISADVANTAGED': 'economically_disadvantaged', 'ECONOMICALLY_DISADVANTAGED_PCT': 'economically_disadvantaged_pct','SCHOOL_YEAR':'school_year', 
                                      'LIMITED_ENGLISH_PROFICIENT_PCT' : 'limited_english_proficient_pct', 'LIMITED_ENGLISH_PROFICIENT': 'limited_english_proficient', 
                                      'STUDENTS_WITH_DISABILITIES': 'students_with_disabilities', 'STUDENTS_WITH_DISABILITIES_PCT': 'students_with_disabilities_pct'}, axis=1)

In [196]:
school2018_df.drop(columns= ['HAWAIIAN_PACISLD', 'HAWAIIAN_PACISLD_PCT', 'HAWAIIAN_PACISLD_MALE', 'HAWAIIAN_PACISLD_FEMALE', 'economically_disadvantaged_pct'], axis = 1, inplace=True)

In [197]:
school2018_df['school_year'].replace('2017-18','2018', inplace = True)

In [198]:
school2018_df.head()

,district,district_name,school_id,school_name,grades_served,average_daily_membership,african_american,african_american_pct,asian,asian_pct,...,asian_female,asian_male,hispanic_female,hispanic_male,native_american_female,native_american_male,white_female,white_male,school_year,safe_school
0,10,Anderson County Schools,2,Anderson County High School,Grades 9-12,1054.0,10,0.9,6,0.6,...,3,3,7,5,1,2,494,531,2018,SAFE SCHOOL
1,10,Anderson County Schools,5,Andersonville Elementary,Grades PK-5,303.0,6,1.9,0,0.0,...,0,0,2,1,1,2,135,163,2018,SAFE SCHOOL
2,10,Anderson County Schools,10,Briceville Elementary,Grades PK-5,111.0,0,0.0,0,0.0,...,0,0,0,1,0,0,65,43,2018,SAFE SCHOOL
3,10,Anderson County Schools,15,Claxton Elementary,Grades PK-5,457.0,24,5.2,2,0.4,...,2,0,10,8,0,3,192,219,2018,SAFE SCHOOL
4,10,Anderson County Schools,20,Clinton Middle School,Grades 6-8,666.0,32,4.8,6,0.9,...,4,2,10,12,2,1,289,313,2018,SAFE SCHOOL

In [199]:
combined_profile_10_14 = combined_profile_10_14.append(school2018_df)

# School Profile 2019

In [200]:
school2019_df = pd.read_excel("210513_schoolprofile201819.xlsx", sheet_name=0)

In [201]:
school2019_df = school2019_df.rename({'DISTRICT_ID' : 'district', 'SCHOOL_ID': 'school_id', 'DISTRICT_NAME':'district_name', 
                                     'SCHOOL_NAME':'school_name', 'GRADES_SERVED':'grades_served', 'SAFE_SCHOOL':'safe_school',
                                     'AVERAGE_DAILY_MEMBERSHIP':'average_daily_membership', 'TOTAL': 'total', 'WHITE' : 'white',
                                     'AFRICAN_AMERICAN' : 'african_american', 'HISPANIC': 'hispanic', 'ASIAN' : 'asian', 'NATIVE_AMERICAN': 'native_american', 
                                    'MALE':'male', 'FEMALE':'female', 'WHITE_PCT':'white_pct', 'AFRICAN_AMERICAN_PCT': 'african_american_pct', 
                                      'HISPANIC_PCT': 'hispanic_pct', 'ASIAN_PCT': 'asian_pct', 'NATIVE_AMERICAN_PCT': 'native_american_pct',
                                      'MALE_PCT':'male_pct', 'FEMALE_PCT':'female_pct', 'WHITE_MALE': 'white_male', 'AFRICAN_AMERICAN_MALE':'african_american_male',
                                      'HISPANIC_MALE': 'hispanic_male', 'ASIAN_MALE': 'asian_male', 'NATIVE_AMERICAN_MALE': 'native_american_male',
                                      'WHITE_FEMALE': 'white_female', 'AFRICAN_AMERICAN_FEMALE': 'african_american_female', 'HISPANIC_FEMALE':'hispanic_female', 
                                      'ASIAN_FEMALE': 'asian_female', 'NATIVE_AMERICAN_FEMALE': 'native_american_female', 
                                      'ECONOMICALLY_DISADVANTAGED': 'economically_disadvantaged', 'ECONOMICALLY_DISADVANTAGED_PCT': 'economically_disadvantaged_pct','SCHOOL_YEAR':'school_year', 
                                      'LIMITED_ENGLISH_PROFICIENT_PCT' : 'limited_english_proficient_pct', 'LIMITED_ENGLISH_PROFICIENT': 'limited_english_proficient', 
                                      'STUDENTS_WITH_DISABILITIES': 'students_with_disabilities', 'STUDENTS_WITH_DISABILITIES_PCT': 'students_with_disabilities_pct'}, axis=1)

In [202]:
school2019_df.drop(columns= ['HAWAIIAN_PACISLD', 'HAWAIIAN_PACISLD_PCT', 'HAWAIIAN_PACISLD_MALE', 'HAWAIIAN_PACISLD_FEMALE', 'economically_disadvantaged_pct'], axis = 1, inplace=True)

In [203]:
school2019_df['school_year'].replace('2018-19','2019', inplace = True)

In [204]:
school2019_df.head()

,school_year,district,district_name,school_id,school_name,grades_served,safe_school,average_daily_membership,total,female,...,african_american_female,african_american_male,asian_female,asian_male,hispanic_female,hispanic_male,native_american_female,native_american_male,white_female,white_male
0,2019,985,Achievement School District,8050,Aspire Coleman,Grades PK-7,SAFE SCHOOL,607.0,612,315,...,296,279,3,2,14,10,0,0,2,6
1,2019,985,Achievement School District,8025,Aspire Hanley Elementary,Grades PK-5,SAFE SCHOOL,530.0,544,281,...,278,257,0,0,3,5,0,0,0,0
2,2019,985,Achievement School District,8024,Aspire Hanley Middle School,Grades 6-8,SAFE SCHOOL,238.0,239,112,...,110,124,0,0,2,1,0,0,0,2
3,2019,985,Achievement School District,8005,Brick Church: A LEAD Public School,Grades 5-8,SAFE SCHOOL,310.0,305,137,...,111,135,1,1,14,21,3,0,8,11
4,2019,985,Achievement School District,8010,Cornerstone Prep - Lester Campus,Grades PK-5,SAFE SCHOOL,380.0,375,189,...,178,178,1,0,10,6,0,0,0,2

In [205]:
combined_profile_10_14 = combined_profile_10_14.append(school2019_df)

In [207]:
#combined_profile_10_14.to_excel(r'profile_10_14.xlsx', index = False)

In [208]:
combined_profile_10_14.shape

(18479, 38)